.addclg-nonnavbar16{
    
    width: 100%;
    background-color: white;
    border-radius: 5% 0% 0% 5%;
}
.addclg-hornav16{
    
    display: flex;
    height: 10%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #0A7273;
    margin-top: 25px;
}
.addclg-hornav16 p{
    font-size: 40px;
    
}
.addclg-hornav16{
    animation: slideDown 1s ease forwards;
}
.addclg-sessions16{
    width: 30%;
    height: 100%;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 135%;
    

}
.addclg-sessions16 p{
    margin-top: 0;
}
.addclg-textpart126{
    display: flex;
    border: 1px solid black;
    padding: 0px 10px;
    align-items: center;
}
.addclg-textpart126 img{
    width: 50px;
    margin-left: 10px;
    border: 1px solid black;
}
.addclg-textpart126 {
    border: none;
    margin-bottom: 5%; 
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: #0A7273 ;
    border-radius: 13px;
    box-shadow:  15px 15px 15px #d9d9d9,
             -7px -7px 15px #ffffff;
    color: white;
    height: 100%;
    width: 90%;
}
.addclg-imgdiv16 svg{
    padding-top: 5px;
   height:50px;
   width:70px;
}
.addclg-text16{
    display: flex;
    flex-direction: row;
}
.addclg-text16 svg{
    height:100%;
    width: 400%;

}
.addclg-date16{
  
   
    position: relative;
}
.addclg-mainbody16 {
    width: 75%;
    height: 9%;
   
    margin-right: auto;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 120px;
    background-color: whitesmoke;
    color: #0A7273;
    box-shadow: 10px 10px 36px #bebebe,
                -10px -10px 36px #ffffff;
    animation: slideup 1s ease forwards;
}

.addclg-mainbody16:hover {
    background-color: #0A7273;
    color: whitesmoke;
}

.addclg-collegeName {
    font-size: 25px;
    text-align: center;
    width: 20%;
    margin-left: 1%;
    padding-left: 5%;
    padding-right: 10%;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}

.addclg-collegeName p {
    width: 100%;
}

.addclg-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addclg-actions button {
    font-size: 18px;
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color .0addclg-3s ease, transform .0addclg-2s ease;
}

.addclg-actions button:hover {
    transform: scale(.1addclg-1);
}

.addclg-acceptBtn {
    
    color: white;
}

.addclg-deleteBtn {
   
    color: white;
}

@keyframes slideup {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0%);
    }
}
